<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local-packages" value="Lib/Packages" />
    <!--<add key="AGV-RnD-Traffic" value="https://pkgs.dev.azure.com/SystemLogistics-Global/_packaging/SystemLogistics-AGV-RnD-Traffic/nuget/v3/index.json" />-->
    <add key="devexpress" value="https://nuget.devexpress.com/t492GjEoyIsNYIfwaLWl6quf87tA7uwQaOB1xjUkmNUC6liibh/api" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageRestore>
    <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
             Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-integrated restore. -->
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>