.test-ui {
  .weather-card {
    padding:  .5rem;
    .card {
      top: 1rem;
    }
  }
  .title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
