.card {
  top: 1rem;
}

.cyan-weather {
  color: cyan;
  font-weight: bold;
}

.green-weather {
  color: green;
  font-weight: bold;
}

.orange-weather {
  color: orange;
  font-weight: bold;
}

.red-weather {
  color: red;
  font-weight: bold;
}

.other-weather {
  color: black;
  font-weight: bold;
}
